<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Slayer Index</title>
    <link rel="stylesheet" th:href="@{css/databaseIndex.css}">
</head>
<body>
    <h1>Stock Slayer Index</h1> |
    <a href="/login/">LOGIN</a> |
    <a href="/register/">REGISTER</a> |
    <a href="/portfolio/">PORTFOLIO</a> |
    <a href="/main/">MAIN</a> |
    <a href="/database/">DATABASE</a>
</body>

</html>
