<!-- Need to finish the controller for portfolio on the actual application code.-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body class="align">

    <div th:replace="fragments/navbar :: navbarFragment"></div>

    <h1>My Portfolio</h1>
    <table id="stocks-information-table" class="table table-bordered" style="width: 100%">
        <thead>
            <tr>
                <th>Symbol</th>
                <th>Price</th>
                <th>Shares</th>
                <th>Total Value</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="stock:${heldStocksList}">
                <td th:text="${stock.getSymbol()}"></td>
                <td th:text="${stock.getValue()}"></td>
                <td th:text="${stock.getVolume()}"></td>
                <td th:text="${stock.getValue() * stock.getVolume()}"></td>
                <td><a th:href="@{'/portfolio/sell/' + ${stock.getId()}}">Sell</a></td>
            </tr>
        </tbody>
    </table>

    <p>Total Funds: <span th:text="${userFunds}"></span></p>

</body>
</html>
