<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stock Slayer</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

    <div th:replace="fragments/navbar :: navbarFragment"></div>

    <header>
        <h1>Welcome to Stock Slayer</h1>
    </header>
    
    <main>
        <!-- Stock Search Form -->
        <form th:action="@{/search}" method="post">
            <label for="symbol">Enter Stock Symbol:</label>
            <input type="text" id="symbol" name="symbol">
            <button type="submit">Search</button>
        </form>

        <!-- Display Stock Information if available -->
        <div th:if="${symbol}">
            <h2 th:text="'Stock Information for ' + ${symbol}"></h2>
            <p>Stock Symbol: <span th:text="${symbol}"></span></p>
            <p>Stock Price: <span th:text="${stockPrice}"></span></p>
            <form th:action="@{/buy}" method="post">
                <input type="hidden" name="symbol" th:value="${symbol}">
                <input type="hidden" name="price" th:value="${stockPrice}">
                <label for="buyShares">Enter Number of Shares to Buy:</label>
                <input type="number" id="buyShares" name="buyShares" min="1" required>
                <button type="submit">Buy</button>
            </form>
            <form th:action="@{/sell}" method="post">
                <input type="hidden" name="symbol" th:value="${symbol}">
                <input type="hidden" name="price" th:value="${stockPrice}">
                <label for="sellShares">Enter Number of Shares to Sell:</label>
                <input type="number" id="sellShares" name="sellShares" min="1" required>
                <button type="submit">Sell</button>
            </form>
        </div>
    </main>
</body>
</html>
